<ion-header>
    <app-header> </app-header>
</ion-header>
<ion-content padding>
    <serv-up-info [passedService]="passedService" [cant_c]="cant_c" (rateService)="rateService($event)"></serv-up-info>
    <!-- <ion-grid>
        <ion-row>
            <ion-col col-9>
                <ion-list>
                    <ion-item style="padding-left: 0;">
                        <ion-thumbnail item-start>
                            <img [src]="passedService.icon ? baseUrl + passedService.icon : 'assets/imgs/service_img.png' ">
                        </ion-thumbnail>
                        <h1>{{passedService.title}}</h1>
                        <p text-wrap>{{passedService.subtitle}}</p>
                    </ion-item>
                    <p text-wrap>{{passedService.address}}</p>
                    <p>1.5km de tu posición</p>
                </ion-list>
            </ion-col>
            <ion-col col-3>
                <strong><ion-label text-center style="font-size: 28px; margin: 13px 0;" color="azul-claro">{{passedService.globalrate}}/10</ion-label></strong>
                <button *ngIf=loggedIn (tap)="openRate()" style="font-size: 10px;" color="azul-claro" ion-button>
                Evaluar
                </button>
                <hr style="border-bottom: 2px solid #dedede;">
                <strong>
                  <ion-label  style="font-size: 17px; margin: 13px 0;" color="azul-claro">
                      <ion-icon name="chatboxes" ></ion-icon> {{cant_c}}
                  </ion-label>
                </strong>
            </ion-col>

        </ion-row>
    </ion-grid>

    <button (tap)="Llamar(service.phone)" class="btn-text-left" text-left color="azul-claro" ion-button block margin-bottom="1">
        <ion-icon name="call" style="font-size: 30px;"></ion-icon>
        &nbsp;Llamar ahora
      </button> -->

    <ion-label *ngIf="passedService.description" text-center color="azul-claro">
        Descripción General
    </ion-label>
    <p text-wrap>{{passedService.description}}</p>
    <ion-grid>
        <ion-row>
            <ion-col col-6 tappable (tap)="openInfo()">
                <img height="85%" width="85%" src="assets/imgs/informacion.png" />
            </ion-col>

            <ion-col col-6 tappable (tap)="openMapa()">
                <img height="85%" width="85%" src="assets/imgs/mapa.png" />
            </ion-col>

            <ion-col col-6 tappable (tap)="openGaleria()">
                <img height="85%" width="85%" src="assets/imgs/imagenes.png" />
            </ion-col>

            <ion-col col-6 tappabl (tap)="openComentarios()">
                <img height="85%" width="85%" src="assets/imgs/comentarios.png" />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>